*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 2px;
    width: 150px;
    height: 150px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

