*{
    margin:0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
    
}

#whole{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-width: 5px;
    border-radius: 15px;
}

#box1{
    background:rebeccapurple;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    margin: 10px;
    border-radius: 10px;
    
}
#box2{
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}