*{
    margin: 0%;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shapes{
    border-style: solid;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    border-width: 1px;
}

h2{
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#box3{
    border-radius: 50%;
    margin-left: 10px;
}
#box2{
    rotate: 45deg;
    margin-top: 30px;
}
#box2 h2{
    rotate: -45deg;
}
#box1:hover{
    background-color: aqua;
    height: 150px;
    width: 150px;
}
#box2:hover{
    background-color: aquamarine;
    height: 150px;
    width: 150px;
}
#box3:hover{
    background-color: blue;
    height: 150px;
    width: 150px;
}
