*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: #fff;
}
h1{
    text-align: center;
}
#for_input{

    width: 60%;
    margin-left: 35px;
    padding: 10px;
    background-color: rgba(19, 3, 52, 0.133);
}
#calculate{
    
    margin-left: 70px;
    margin-top: 10px;
    padding: 2px;
    
}
#result{
    background-color: #aab867;
    color: #212121;
    text-align: center;
    width: 300px;
    margin-top:30px;
    margin-left: 20px;
}
#guide{
    background-color: #424141;
    width: 300px;
    margin-top:30px;
    margin-left: 20px;
    padding: 4px;
}
h5{
    margin-left: 70px;
    
}